.idea/
__pycache__/
*.egg-info/
logs/
None/
dist/
.pytest_cache/
.DS_Store
loco_mujoco/datasets/
mushroom_rl_recordings/
record_all/
lcm_config/cpp
lcm_config/java
lcm_config/python
lcm_config/lcmtypes
lcm_config/file_list.txt
MUJOCO_LOG.TXT
*.pyc
Models/
wandb/
test.pkl
build/